<div class="module profile-card component profile-header" data-component-term="profile_follow_card" >
  <div class="profile-header-inner flex-module clearfix " data-background-image="{{#if data.banner }}url({{ data.banner }}){{else}}url(/t1/img/grey_header_web.png){{/if}}" >
    <div class="profile-header-inner-overlay"></div>
    <a href="/profile/{{ data.handle }}" class="profile-picture media-thumbnail js-nav" data-send-impression-cookie="true"> <img src="{{ data.avatar }}" alt="{{ data.displayName }}" class="avatar size73"> </a>
    <div class="profile-card-inner" data-screen-name="{{ data.handle }}" data-user-id="{{ data.did }}">
      <h1 class="fullname editable-group"> <a class="js-nav" href="/profile/{{ data.handle }}" data-send-impression-cookie="true">{{ data.displayName }} </a> {{#if data.verification}}<a href="/help/verified" class="verified-link js-tooltip" data-placement="right" data-original-title="Verified account"><span class="icon verified verified-large-border"><span class="visuallyhidden">Verified account</span></span></a>{{/if}} </h1>
      <h2 class="username"> <a class="pretty-link js-nav" href="/profile/{{ data.handle }}" data-send-impression-cookie="true"> <span class="screen-name"><s>@</s>{{ data.handle }}</span> </a> </h2>
      <div class="bio-container editable-group">
        <p class="bio profile-field">{{  data.description }}</p>
      </div>
      <p class="location-and-url"> 
    </div>
  </div>
  <div class="flex-module profile-banner-footer clearfix">
    <div class="default-footer">
      <ul class="stats js-mini-profile-stats" data-user-id="{{ data.did }}">
        <li><a class="js-nav" href="/profile/{{ data.handle }}" data-element-term="tweet_stats" data-nav='profile'> <strong>{{ formatNumber data.postsCount }}</strong> Tweets</a></li>
        <li><a class="js-nav" href="/profile/{{ data.handle }}/following" data-element-term="following_stats" data-nav='following'> <strong>{{ formatNumber data.followsCount }}</strong> Following</a></li>
        <li><a class="js-nav" href="/profile/{{ data.handle }}/followers" data-element-term="follower_stats" data-nav='followers'> <strong>{{ formatNumber data.followersCount }}</strong> Followers</a></li>
      </ul>
      <div class="user-actions btn-group not-following  " data-user-id="{{ data.did }}"    data-screen-name="{{ data.handle }}" data-name="{{ data.displayName }}" data-protected="false">
        <button class="js-follow-btn follow-button btn" type="button"> <span class="button-text follow-text"> <i class="follow"></i> Follow </span> <span class="button-text following-text"> Following </span> <span class="button-text blocked-text">Blocked</span> <span class="button-text unblock-text">Unblock</span> <span class="button-text pending-text">Pending</span> <span class="button-text cancel-text">Cancel</span></button>
      </div>
    </div>
  </div>
  <div class="profile-social-proof">
    <div class="follow-bar"> </div>
  </div>
</div>
<ol class="recent-tweets clearfix">
	{{#each feed}}
	{{#if this.post}}
  <li class="">
    <div class="simple-tweet tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable  " data-feedback-key="stream_status_{{ this.post.cid }}"data-tweet-id="{{ this.post.cid }}"data-item-id="{{ this.post.cid }}" data-screen-name="{{ this.post.author.handle }}" data-name="{{ this.post.author.displayName }}" data-user-id="{{ this.post.author.did }}" data-has-parent-tweet="true" data-expanded-footer="<div class=&quot;js-tweet-details-fixer tweet-details-fixer&quot;>&#10;&#10;&#10;&#10;&#10;  <div class=&quot;js-tweet-media-container &quot;></div>&#10;    <div class=&quot;entities-media-container &quot; style=&quot;min-height:0px&quot;>&#10;    </div>&#10;&#10;  <div class=&quot;js-machine-translated-tweet-container&quot;></div>&#10;  <div class=&quot;js-tweet-stats-container tweet-stats-container &quot;>&#10;  </div>&#10;  <div class=&quot;client-and-actions&quot;>&#10;    <span class=&quot;metadata&quot;>&#10;        <span title=&quot;{{ formatDate this.post.record.createdAt 'hh:mm A - D MMM YY' }}&quot;>{{ formatDate this.post.record.createdAt 'hh:mm A - D MMM YY' }}</span>&#10;&#10;        &#10;&#10;&#10;             &amp;middot; <a class=&quot;permalink-link js-permalink js-nav&quot; href=&quot;/profile/{{ this.post.author.handle }}/status/{{ getRkey this.post.uri }}&quot;  tabindex=&quot;-1&quot;>Details</a>&#10;&#10;      &#10;&#10;&#10;&#10;    </span>&#10;  </div>&#10;</div>&#10;" data-mentions=""> <i class="dogear"></i>
      <div class="content">
        <div class="stream-item-header"> <a  class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/profile/{{ this.post.author.handle }}" data-user-id="{{ this.post.author.did }}"> <img class="avatar js-action-profile-avatar" src="{{ this.post.author.avatar }}" alt=""> <strong class="fullname js-action-profile-name show-popup-with-id">{{ this.post.author.displayName }}</strong> <span>&rlm;</span><span class="username js-action-profile-name"><s>@</s><b>{{ this.post.author.handle }}</b></span> </a> <small class="time"> <a href="/profile/{{ this.post.author.handle }}/status/{{ getRkey this.post.uri }}" class="tweet-timestamp js-permalink js-nav" title="{{ formatDate this.post.record.createdAt 'hh:mm A - D MMM YY' }}" ><span class="_timestamp js-short-timestamp js-relative-timestamp" data-time="{{ formatDate this.post.record.createdAt 'x' }}" data-long-form="true">15s</span></a></small> </div>
        <p class="js-tweet-text tweet-text">{{ this.post.record.text }}</p>
        <div class="stream-item-footer"> <a class="details with-icn js-details" href="/profile/{{ this.post.author.handle }}/status/{{ getRkey this.post.uri }}"> <span class="details-icon js-icon-container"> </span> <b> <span class="simple-details-link">Details</span> <span class="expand-stream-item js-view-details"> <span class="expand-action-wrapper"> Expand </span> </span> <span class="collapse-stream-item js-hide-details"> Collapse </span> </b> </a>
          <ul class="tweet-actions js-actions">
            <li class="action-reply-container"> <a role="button" class="with-icn js-action-reply" data-modal="tweet-reply" href="#"> <span class="icon sm-reply"></span> <b>Reply</b> </a> </li>
            <li class="action-rt-container js-toggle-state js-toggle-rt"> <a role="button" class="with-icn retweet" data-modal="tweet-retweet" href="#"> <span class="icon sm-rt"></span> <b>Retweet</b> </a> <a role="button" class="with-icn undo-retweet" data-modal="tweet-retweet" href="#" title="Undo retweet"> <span class="icon sm-rt"></span> <b>Retweeted</b> </a> </li>
            <li class="action-del-container"> <a role="button" class="with-icn js-action-del" href="#"> <span class="icon sm-trash"></span> <b>Delete</b> </a> </li>
            <li class="action-fav-container js-toggle-state js-toggle-fav"> <a role="button" class="with-icn favorite" href="#"> <span class="icon sm-fav"></span> <b>Favorite</b> </a> <a role="button" class="with-icn unfavorite" href="#" title="Undo favorite"> <span class="icon sm-fav"></span> <b>Favorited</b> </a> </li>
            <li class="more-tweet-actions">
              <div class="action-more-container">
                <div class="dropdown">
                  <button type="button" class="btn-link with-icn dropdown-toggle"> <i class="sm-more"></i> <b>More</b> </button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-caret"> <span class="caret-outer"></span> <span class="caret-inner"></span> </li>
                    <li class="embed-link"> <a class="js-embed-tweet" href="#" data-nav="embed_tweet">Embed Tweet</a> </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="expanded-content js-tweet-details-dropdown"> </div>
      </div>
    </div>
  </li>
{{/if}}
{{/each}}
</ol>
<div class="go-to-profile"> <small><a class="view-profile js-nav js-initial-focus" href="/profile/{{ data.handle }}" data-send-impression-cookie="true">Go to full profile &rarr;</a></small> </div>